범죄 지수 계산<br>
0~4<br>
ex) 2021년 서울 종로 아파트 일요일 0시 일 때 절도 일어날 위험 지수<br>
1+ 0.04 + 0.34 + 0 + 0 = 1.38 <br>
<br>
* 2014 ~ 2021 (8가지)
* 장소 (7가지)
* 요일 (7가지)
* 시간대 (8가지)
* 지역 (128가지)
* 인구수 (1가지) -> 정규화

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import pandas as pd

In [5]:
pd.set_option('display.max_columns', None) # 전체 열 보기
pd.set_option('display.max_rows', None) # 전체 행 보기

In [103]:
year = 2014

### 데이터 생성

In [111]:
df1 = pd.read_csv('/content/drive/MyDrive/산업인공지능 대회/preprocessed_data/'+str(year)+'-시간대별.csv', index_col = 0)
df2 = pd.read_csv('/content/drive/MyDrive/산업인공지능 대회/preprocessed_data/'+str(year)+'-장소별.csv', index_col = 0)
df3 = pd.read_csv('/content/drive/MyDrive/산업인공지능 대회/preprocessed_data/'+str(year)+'-요일별.csv', index_col = 0)
df4 = pd.read_csv('/content/drive/MyDrive/산업인공지능 대회/preprocessed_data/'+str(year)+'-지역별.csv', index_col = 0)
df5 = pd.read_csv('/content/drive/MyDrive/산업인공지능 대회/preprocessed_data/'+str(year)+'-인구수.csv', index_col = 0)

In [112]:
_time = df1.columns # 라벨 인코딩
_place = df2.columns # 라벨 인코딩
_day = df3.columns # 라벨 인코딩
_region = df4.columns # 라벨 인코딩

In [118]:
len(_region)

128

In [113]:
column = [
    '위치','장소','요일','시간대','인구수','절도','살인','강도','성폭력','폭행',
]

In [114]:
data = []
for r in _region:
  for p in _place:
    for d in _day:
      for t in _time:
        """
        df1[t].values[]
        df2[p].values[]
        df3[d].values[]
        df4[r].values[]
        df5[r].values[0]
        """

        juldo = df1[t].values[0] + df2[p].values[0] + df3[d].values[0] + df4[r].values[0]
        salin = df1[t].values[1] + df2[p].values[1] + df3[d].values[1] + df4[r].values[1]
        gangdo = df1[t].values[2] + df2[p].values[2] + df3[d].values[2] + df4[r].values[2]
        sungpok = df1[t].values[3] + df2[p].values[3] + df3[d].values[3] + df4[r].values[3]
        pokang = df1[t].values[4] + df2[p].values[4] + df3[d].values[4] + df4[r].values[4]

        data.append([r,p,d,t,df5[r].values[0],juldo,salin,gangdo,sungpok,pokang])

In [115]:
df = pd.DataFrame(data, columns=column)

In [116]:
df[20000:20010]

          위치          장소 요일          시간대     인구수    절도    살인    강도   성폭력    폭행
20000  대구달성군  아파트ㆍ연립ㆍ다세대  월  00:00-02:59  184902  0.52  1.74  2.16  0.69  0.70
20001  대구달성군  아파트ㆍ연립ㆍ다세대  월  03:00-05:59  184902  0.51  1.78  2.39  0.76  0.54
20002  대구달성군  아파트ㆍ연립ㆍ다세대  월  06:00-08:59  184902  0.36  1.55  1.39  0.59  0.23
20003  대구달성군  아파트ㆍ연립ㆍ다세대  월  09:00-11:59  184902  0.86  1.87  1.42  0.55  0.28
20004  대구달성군  아파트ㆍ연립ㆍ다세대  월  12:00-14:59  184902  0.94  1.84  1.55  0.61  0.29
20005  대구달성군  아파트ㆍ연립ㆍ다세대  월  15:00-17:59  184902  1.11  1.95  1.53  0.94  0.39
20006  대구달성군  아파트ㆍ연립ㆍ다세대  월  18:00-20:59  184902  1.36  2.33  1.66  1.17  0.64
20007  대구달성군  아파트ㆍ연립ㆍ다세대  월  21:00-23:59  184902  1.12  2.55  1.95  1.55  1.23
20008  대구달성군  아파트ㆍ연립ㆍ다세대  화  00:00-02:59  184902  0.70  2.26  1.16  1.58  0.94
20009  대구달성군  아파트ㆍ연립ㆍ다세대  화  03:00-05:59  184902  0.69  2.30  1.39  1.65  0.78

In [117]:
df.to_csv('/content/drive/MyDrive/산업인공지능 대회/merged_data/'+str(year)+'.csv', index = False,encoding='utf-8')